*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 18px;
}


body {
    box-sizing: border-box;
    font-family: sans-serif;
}

.form {
    width: 25rem;
    padding: 1rem 2rem;
    color: #f2cc8f;
    margin: 0 auto;
    background: #3d405b;
    border-radius: 8px;
}

.form__group {
    display: flex;
    flex-direction: column;   
}

.form__label {
    margin-bottom: 0.25rem;
    font-weight: 500;

}

.input {
    font-size: inherit;
    padding: 0.5rem 0.75rem;
    background: #eee;
    border: none;
    border-radius: 4px;
}

.button {
    margin-top: 1rem;
    color: #f4f1de
    padding: 0.5rem 1rem;
    background: #e07a5f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
}

