.inner {
    width: 100px;
    height: 50px;
    border: inherit;
}

.outer {
    background: url('background_watercolors.avif');
    background-size: cover;
    padding: 10px;
    border: 2px solid black;
}
